
<form class="login-form">
    <img src="img/homecloudslogo.png" alt="HomeClouds logo">
    <input class="form-input" type="text" placeholder="Login">
    <input class="form-input" type="password" placeholder="Password">
    <button class="btn login-btn"><p>Log in</p></button>
    <button class="btn signin-btn"><p>Sign in</p></button>
</form>