
<div class="top-menu">
    <div class="top-menu-logo">
    </div>
    <div class="top-menu-elem">
        Files
    </div>
    <div class="top-menu-elem">
        Settings
    </div>
    <div class="top-menu-elem">
        Shared links
    </div>
    <div class="top-menu-elem">
        About
    </div>
    <div class="top-menu-log-out-btn">
        Log out
    </div>
    
</div>

@code {
    
}