@page "/explorer"
@model HomeCLoudsBlazor.Pages.Login
@using HomeCLoudsBlazor.Components
@namespace HomeCLoudsBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/site.css" rel="stylesheet"/>
    <title>Explorer</title>
</head>
    <body>
    <component type="typeof(TopMenu)" render-mode="ServerPrerendered" />
    </body>
</html>