@page
@model HomeCLoudsBlazor.Pages.Login
@using HomeCLoudsBlazor.Components
@namespace HomeCLoudsBlazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/site.css" rel="stylesheet"/>
    <title>Login</title>
    

  </head>

<body>
<component type="typeof(LoginComponent)" render-mode="ServerPrerendered" />
</body>
</html>