# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.HomeCloudsBlazor.iml
# Datasource local storage ignored files
/../../../../../../../../:\dev\c#\HomeCloudsBlazor\HomeCloudsBlazor\.idea\.idea.HomeCloudsBlazor.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
